.forecastContainer > div {
  
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.forecastContainer .date-time-info p {
  font-size: 14px;
  font-weight: 300;
}

.forecastContainer .cloudsData {
  font-size: 14px;
  font-weight: bold;
}

.forecastContainer .chanceOfRain-info p,
.forecastContainer .temp-info p{
  text-align: center;
}

.forecastContainer .chanceOfRain-info p:first-child {
  font-size: 14px;
  font-weight: 300;
}

.forecastContainer .temp-info p:first-child {
  font-size: 14px;
  font-weight: 300;
}

.forecastContainer .tempData {
  font-size: 18px;
  font-weight: bold;
}
