.mainInfo {
  flex: 1;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:flex-start;
  gap: 20px;
}

.locationData {
  font-size: 2rem;
  font-weight: bold;
}

.currentWeather .cloudsData {
  font-size: 16px;
  font-weight: 300;
}

.currentWeather .temp-info {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.currentWeather .temp-info p:first-child {
  font-size: 16px;
  font-weight: bold;
}

.currentWeather .tempData {
  font-size: 8rem;
  font-weight: bold;
}

.mainButton {
  flex: 1;
  padding-top: 6%;
  max-width: 100px;
}

.btnTemp {
  border: 1px solid #000000;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #e5e5ff;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(86,142,191,1) 50%);
  z-index: 1;
}

.btnTemp:hover {
  background: rgb(34,193,195);
  background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(86,142,191,1) 100%);
}

.minorInfo {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.currentWeather .date-time-info p {
  font-size: 16px;
  font-weight: 300;
}

.currentWeather .feels-info,
.currentWeather .chanceOfRain-info,
.currentWeather .humidity-info,
.currentWeather .windSpeed-info {
  font-size: 16px;
  font-weight: 400;
}